{% extends "base.html" %}
{% load  static %}
{% block title %} Panel Principal {% endblock title %}

{% block content %}
<style>
    body, html {
        height: 100%;
        margin: 0;
    }
    /* .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
    } */
    .sidebar {
        width: 250px;
        background-color: #272828;
        color: #fff;
        height: 100vh;
        position: fixed;
    }
    .sidebar a {
        color: #ffffff;
        text-decoration: none;
        padding: 2px;
        display: block;
    }
    .sidebar a:hover {
        background-color: #075fb7;
    }
    .content {
        margin-left: 250px;
        padding: 20px;
        padding-top: 25px; /* Añadir margen superior para que el contenido no quede oculto detrás del navbar */
        width: calc(100% - 250px); /* Ajuste el ancho del contenido */
        height: 768; /* Altura fija */
        box-sizing: border-box; /* Incluye el padding en el tamaño total */
        background-color: #dcdcdc; /* Color de fondo para mejor visualización */

    }
    .navbar-fixed {
        position: fixed;
        width: calc(100% - 250px); /* Ancho del navbar ajustado al espacio restante */
        top: 0;
        left: 250px; /* Margen izquierdo ajustado para evitar la barra lateral */
        z-index: 1000;
        /* transition: left 0.3s ease, width 0.3s ease;  Añadir transición para suavizar el cambio  */
    }
    /* Ocultar la barra lateral en pantallas menores a lg */
    @media (max-width: 992px) {
        .sidebar {
            display: none;
        }
        .content {
            margin-left: 0;
            width: 100%; /* El contenido ocupa todo el ancho */
        }
        .navbar-fixed {
            width: 100%;
            left: 0; /* El navbar se alinea al borde izquierdo */
        }
    }
</style>
<div class="wrapper">
    <!-- Barra Lateral -->
    <nav class="sidebar">
    <h4 class="text-center py-3">Panaderia TWO</h4>

      {% if user.ocupation == "1" or user.ocupation == "0" or user.is_superuser %}
      <h5 class="text-center py-1 bg-primary text-white mx-1 mt-3 text-dark ">Almacen</h5>
      <a href="" class="text-center" style="color: white;">Productos</a>
      <a href="" class="text-center" style="color: white;">Reportes</a>
      {% endif %}
      {% if user.ocupation == "2" or user.ocupation == "0" or user.is_superuser %}
      <h5 class="text-center py-1 bg-primary text-white mx-1 mt-3 text-dark ">Ventas</h5>
      <a href="" class="text-center" style="color: white;">Vender</a>
      <a href="" class="text-center" style="color: white;">Cerar Caja</a>
      {% endif %}
      {% if user.ocupation == "0" or user.is_superuser %}
      <h5 class="text-center py-1 bg-primary text-white mx-1 mt-3 text-dark ">Administracion</h5>
      <a href="" class="text-center" style="color: white;">Administracion</a>
      <a class="text-center" href="{% url 'users_app:user-lista' %}" style="color: white;">Usuarios</a>
      <a href="" class="text-center" style="color: white;">Reportes</a>
      {% endif %}
    <hr class="">
    </nav>
</div>
    <!-- Navbar -->
    <div class="row">


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed fixed-top">
        <ul class="navbar-nav ms-auto p-1">
        <li class="nav-item active mx-1">
            <a class="nav-link btn btn-outline-success text-white" href="{% url 'users_app:perfil' %}">Inicio</a>
        </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto p-1">
                <li class="nav-item mx-1">
                    <a class="nav-link active text-white " href="#">Usuario: {{ user.full_name }}</a>
                </li>
                <li class="nav-item active mx-1">
                    <a class="nav-link btn btn-outline-success text-white" href="">Agregar</a>
                </li>
                <li class="nav-item active mx-1">
                    <a class="nav-link active btn btn-danger" aria-current="page" href="{% url 'users_app:user-logout' %}">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
    {% block panel-content %}

    {% endblock panel-content %}


{% endblock content %}