  <!-- <style>
    .perro {
      height: 100px;
    }
  </style> -->

  <!-- <footer class="d-flex flex-column bg-info px-2 py-2"> -->

  <footer class="d-flex flex-column align-items-center justify-content-center  bg-primary text-light py-1">
    <div class="fs-5">
      Contacto:
    </div>
    <div class="fs-5 ">
    roberthbardales@gmail.com
    </div>
      <ul class="nav justify-content-center align-items-center py-1 text-light ">
        <li class="nav-item bg-d">&copy; 2024 Copyright.</li>
  </footer>


