{% extends "base.html" %}

{% load  static %}

{% block content %}

<style>
    .login-container {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 2px solid #dee2e6;
        border-radius: .25rem;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        margin-top: 70px;
    }
</style>

<div class="login-container content py-4" >
    <h2 class="text-center mb-4 bg-warning">Cambio de Contraseña</h2>
    <form class="" method="POST">{% csrf_token %}
        <p class="text-center">Usuario Actual : {{ user.email}}</p>
        <div class="form-group py-2">
                    <label for="email">Contraseña Actual</label>
                    {{form.password1}}
                </div>
                <div class="form-group">
                    <label for="email">Contraseña Nueva</label>
                    {{form.password2}}
                </div>
                <div class="py-4 text-center">
                    <button type="submit" class="btn btn-primary btn-block">Cambiar Contraseña</button>
                  </div>
              </form>
            </div>


{% endblock content %}


